@media only screen and (min-width : 0) {
    .box1 {
        scale: .9;
    }
}
@media only screen and (min-width : 992px) {
    .box1 {
        scale: 1;
    }
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    height: 100vh;
    
}
.box2 {
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.slider {
    margin-block: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    border: .2rem solid rgba(0, 0, 0, 0.05);
}

#result {
    width: 20rem;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: thin;
    padding-bottom: 1rem;
}